@model List<Dictionary_Development_System_RequestResponse.ResponseModels.Word.GetPendingWordsResponse>
@{
  ViewBag.Title = "GetPendingWords";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main">
  <!-- Breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin/Index">Ana Sayfa</a></li>
    <li class="breadcrumb-item">Beklemede</li>
    <!-- Breadcrumb Menu-->
  </ol>
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>Konu</th>
            <th>Kullanıcı Adı</th>
            <th>İlgi Alanı</th>
            <th>Bildirilme Zamanı</th>
            <th>Teslim Zamanı</th>
            <th>Görevlendirilen Geliştirici</th>
            <th>İçeriği Görüntüle</th>
          </tr>
        </thead>
        <tbody>
          @if (Model.Count == 0)
          {
            <tr>
              <td colspan="7" align="center"> --   BEKLEMEDE OLAN BİLGİSİ BULUNAMADI   -- </td>
            </tr>
          }
          else
          {
            foreach (var item in Model)
            {
              <tr>
                <td>@item.Word</td>
                <td>@item.UserName  @item.UserSurname</td>
                <td>@item.Interest.InterestName</td>
                <td>@item.CreatedDate</td>
                <td>@item.UpdatedDate</td>
                <td style="display:none" id="content_@item.WordId">@item.Content</td>
                <td>@item.DeveloperName  @item.DeveloperSurname</td>
                <td><button type="button" data-toggle="modal" data-target="#largeModal" onclick="PendingWordsAppendInModel('@item.Word',@item.WordId)" class="btn btn-info active">Görüntüle</button></td>
              </tr>
            }
          }

         
        </tbody>
      </table>
    </div>
  </div>


  @*İçerik görüntüleme modalı*@ 
  <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          @*Buraya Content İşleniyor*@
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          <div id="appendLocation">
            @*Buraya Onay ve Red butonları işleniyor*@
          </div>            
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</main>

